<!--The content below is only a placeholder and can be replaced.-->

<div  style="border-bottom:1px solid;background-color:black;" class="animated shake">

  <img src="assets\img\logo.png" height=100px width=400px class="animated flip"><h4 style="color:crimson;"> Address:Madhyapur Thimi,contact:123212321</h4>
  </div><hr>
<img src="assets\img\p.jpg" height=500 width=490>.<img src="assets\img\p4.jpg" height=500 width=490>.<img src="assets/img/p2.jpg"height=500 width=490>
<div style="font-family:jokerman;color:greenyellow"><hr>
<app-salsa></app-salsa>
</div>

<div style="font-family:Blackadder ITC;color:darkorchid">
<p class="animate fadeIn" >next section</p>
<h1 class="animated bounce delay-2s">Example</h1>
<app-comp></app-comp>
</div>
<hr>
<nav>
  <a routerLink="/nextcomp" routerLinkActive="class">nextcomp</a><br/>
  <a routerLink="/routing"  routingLinkActive="class2">routing</a>
</nav>
<router-outlet></router-outlet>
